body {    
    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
      
}

.navigation{    
    min-height: 10hv;
    display: flex;
    flex-direction: row;
}

.navigation_item{
    border: 4px solid #fddede;
    padding: 16px;
    text-align: center;
    background: #60a9a6;
    color: #caf2d7;
    font-weight: bold;
    font-size: 20px;
    width: 400px;
}

.navigation__link {
    color: #fff;
}

.dairy__thirdHeader {
    color: #28536B;
}

.about{
    overflow: hidden;
}

.about__header, .dairy__header{
    color: #006494;
}

.about__paragraph, .dairy__paragraph{
    color: #001323;
    padding: 16px;
    
}


.about__picture {
 width: 100%;
 max-width: 100px;
 display: block;
 float: left;
 margin: 0 16px 16px 0;
}

.heading {
    color: #01396B;
}



.main {
    width: 100%;
    max-width: 700px;
    margin: 32px auto; 

}