body {
    background: #fefefe;
}

.thirdHeader {
    color: #28536B;
}

.sectionHeader {
    color: #006494;
}

.paragraph {
    color: #001323;
}
.mainHeader {
    color: #01396B;
}

.link {
    color: #06AED5;
}

.main {
    width: 100%;
    max-width: 700px;
    margin: 32px auto; 

}